<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <span class="plus-sign"></span><span class="medicare-text">AI</span>
    </a>



    <div class="menu ms-auto">
      <div class="menu-content">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active">query</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active">meeting</a>
          </li>
        </ul>

      </div>
    </div>
  </div>


</nav>